            
            
            img{
                display: block;
            }
            #box{
                height: 500px;
                width: 500px;
                border: 1px solid #999999;
                float: left;
                position: relative;
                cursor: move;    /*鼠标变为小手*/
               margin: 50px 50px 0 100px;
               
            }
            /*为了保持美观尽量将 放大图是原图的2倍,原图是放大镜的两倍*/
            #tupianq{
                height: 500px;
                width: 500px;
            }
            #tupianq img{
                height: 500px;
                width: 500px;
                
            }
            #fdqu{
                height: 500px;
                width: 500px;
                border: 1px solid #999999;
                position: absolute;
                left: 520px;
                overflow: hidden;
                top: -1px;    /*因为有边框去出边框*/
                display: none;
            }
            
            #fdj{
                height:250px;
                width: 250px;
                background: #FFC0CB;
                opacity: 0.5;
                position: absolute;
                display: none;
            }
            #fdqu img{
                display: block;
                height: 1000px;
                width: 1000px;
                position: absolute;
            }
            

#xiangqing_qu{
    height:720px;
    width:1200px;
    margin: 0 auto;
    
    margin-top: 40px;
    position: relative;
    
    #fangdajing_zuo{
    height: 500px;
    width: 96px;
    position: absolute;
   
    top: 50px;
    left: 0;
    p{
        height: 80px;
        width: 80px;
        border:1px solid #f1f1f1;
        margin-bottom: 5px;
        margin-left: 5px;
        img{
            height: 80px;
            width: 80px;
        }
    }
    p:nth-child(1){
        margin-top:30px;
        
    }
     }

}

    
    #xqy_fany_s{
        display: block;
         position: absolute;
         height: 30px;
         width: 30px;
       
        top:-40px;
        left: 30px;
        background: url(../images/dtl-icon.png) no-repeat 2px 0;
    }
     #xqy_fany_x{
         display: block;
         position: absolute;
         height: 30px;
         width: 30px;
        
        bottom: 20px;
        left: 30px;
        background: url(../images/dtl-icon.png) no-repeat 2px -30px;
    }




















#fangdajing_you{
    height:630px;
    width: 460px;
  
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    #xqy_yi{
        height: 78px;
        width:450px;
        border-bottom: 2px solid #f1f1f1;
        margin: 0 auto;
        #xqy_yi_yi{
            height:32px;
            p:nth-child(1){
                float: left;
                height: 32px;
                line-height: 32px;
                font-size: 20px;
                font-weight: 900;
            }
            p:nth-child(2){
                float: right;
                line-height: 32px;
                font-size: 14px;
                
            }
            
        }
        #xq_start{
            height:40px;
            width: 450px;
            #hong_start{
                height:15px;
                width: 70px;
                background: url(../images/stars.png) no-repeat left top;
                margin-top: 10px;
                float: left;
            }
            i{
                display: block;
                font-style:normal ;
                float: left;
                margin-top: 5px;
                font-size: 14px;
                color: red;
            }
        }
    }
}
#xqy_you_er{
    height: 74px;
    width: 450px;
   
    p{
        height:44px;
        width: 450px;
        line-height: 45px;
        font-size: 20px;
        color:red;
        span{
            font-size: 14px;
        }
    }
    #xqy_you_er_er{
        height: 30px;
        line-height: 30px;
        width: 450px;
        p:nth-child(1){
            float: left;
            height: 30px;
            width: 100px;
            line-height: 30px;
            font-size: 12px;
            color: #999;
            span{
                font-size: 12px;
            }
        }
        p:nth-child(2){
            margin-left: 5px;
            float: left;
            height: 30px;
            width: 190px;
            line-height: 30px;
            font-size: 12px;
            color: #999;
        }
        p:nth-child(3){
            float: right;
            width: 150px;
            height: 30px;
            background: url(../images/coupons-btn-pc.png) no-repeat center;
        }
    }
}

#xqy_you_san{
    height:125px;
    width: 450px;
    background: #eee;
    p:nth-child(1){
        height:20px;
        width: 450px;
        background: url(../images/onsale_02.png) no-repeat left top;
        margin: 5px 0;
        
    }
    p:nth-child(2),p:nth-child(3),p:nth-child(4){
        height: 26px;
        width: 450px;
        text-indent: 15px;
        color: red;
        font-size: 12px;
        line-height: 20px;
    }
}

#xqy_you_si{
    height:124px;
    width: 450px;
    
    p{
        height: 40px;
        line-height: 40px;
        width: 450px;
        text-indent: 10px;
    }
    #xqy_you_si_yt{
        height: 80px;
        width: 450px;
        p{
            height: 70px;
            width: 70px;
            border: 1px solid #999;
            float: left;
            margin-right: 10px;
        }
        p:nth-child(1){
            margin-left: 20px;
        }
    }
    
}

#xqy_you_wu{
    height: 86px;
    width: 450px;
    
    #xqy_you_wu_yi{
        height:26px;
         width: 450px;
        line-height: 26px;
        display: flex;
        justify-content: space-between;
        p{
            float: left;
            font-size: 16px;
        }
    }
    #xqy_you_wu_er{
        margin-top: 10px;
        height:35px;
        span{
            display: inline-block;
            height: 30px;
            width: 30px;
            border: 1px solid #666;
            font-size: 14px;
            text-align: center;
            line-height: 30px;
            margin-right: 10px;
        }
    }
}
#xqy_you_liu{
    height:42px;
    width: 450px;
    display: flex;
    justify-content: space-around;
    div{
        height: 40px;
        width: 140px;
        border: 1px solid #999;
        line-height: 40px;
        text-align: center;
    }
    div:nth-child(2){
        background: #000;
        color: #fff;
    }
    div:nth-child(3){
        background: red;
        color: #fff;
    }
    div:nth-child(1){
        p{
            height: 40px;
            width: 50px;
            text-align: center;
            float: left;
            margin-left: 15px;
        }
        select{
            height: 40px;
            float: left;
            width: 50px;
            font-size:18px;
            border: 0;
        }
    }
}

#xqy_you_spjs{
    
    height:60px;
    width:450px;
   
    margin-top: 20px;
    p:nth-child(1){
        height:24px;
        width: 450px;
        font-size: 16px;
    }
    p:nth-child(2), p:nth-child(3){
        height:20px;
        width: 450px;
        font-size: 14px;
        color: #666;
    }
    
    
}




