#banner_wrap{
    background: #000000;
}
#banner{
    height: 552px;
    width:1280px ;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    
    #imglist{
        position: absolute;
        height: 552px;
        width: 1280px;
        margin: 0 auto;
        li{
            float: left;
            width:1280px;
            height: 552px;
            overflow: hidden;
            p{
                position: absolute;
               
            }
            img{width:1280px;
            height: 552px;
            }
        }
        
        
    }
    #weziList{
        position:absolute;
        bottom: 0;
        left:0;
        right: 0;
        top: 0;
        margin: auto;
        width: 410px;
        margin-top: 500px;
       
        li{
            height: 34px;
            width: 130px;
            line-height: 34px;
            text-align: center;
            cursor: pointer;
            color: #b2b2b2;
            background:#020013 ;
            float: left;
           margin:0 1px;
           font-size: 12px;
           opacity: 0.8;
        }
        
        li:hover, li.hover{
            background:#b93243 ;
        }
    }
}
#banner #btn_prev{
        position: absolute;
        height: 42px;
        width: 23px;
        top: 50%;
    }
 
 #main_xl_wrap{
     background: #f3f3f3;
     #main_xl{
         height: 940px;
         width:1180px;
         margin: 0 auto;
         #main_xl_s{
             height: 550px;
             width:1180px;
              
              display: flex;
              justify-content: space-between;
              #main_xl_s_left{
                  height: 550px;
                  width:582px;
                  position: relative;

              }
              
                   #main_xl_s_zi{
                   position: absolute;
                   height: 50px;
                   width: 150px;
                   border: 1px solid #FFFFFF;
                   text-align: center;
                   line-height: 50px;
                  
                  
                   top:-100px;
                   bottom:0;
                   left:0;
                   right:0;
                   margin: auto;
                 display: none;
                   a{
                        font-size: 26px;
                   color: #FFFFFF;
                   }
               }
              
              figure{
                      margin-top:30px;
                      height:518px;
                      width: 582px;
                   img{
                       height:400px;
                       width: 580px;
                   } 
                   figcaption{
                      height: 115px;
                      width: 582px; 
                      p:nth-child(1){
                 height: 40px;
                 line-height: 40px;
                 font-size:18px;
                 font-weight: 900;
                 text-align: center;     
                 margin-top:15px;    
                      }
                      p:nth-child(2){
                          text-align: center;
                          font-size:16px;
                          height: 30px;
                          line-height: 30px;
                      }
                   }  
                  }
              #main_xl_s_right{
                  height: 550px;
                  width:580px;
                  position: relative;
              }
              
              
         }
         
     // 第一部分小图部分     
         #main_xl_x{
             height: 390px;
             width:1180px;
              
              display: flex;
              justify-content: space-between;
              div{
                  height: 390px;
                  width:385px;
                  
              }
              figure{
                  height: 390px;
                  width:385px;
                  img{
                      height: 311px;
                      width: 385px;
                      
                  }
                  figcaption{
                      height:80px;
                      line-height:60px;
                      text-align: center;
                      font-weight: 900;
                  }
              }
              
         }
     }
 }
 
 #main2_wrap{
     background: #FFFFFF;
     #main2{
         height: 770px;
         width:1180px;
         margin: 0 auto;
         border: 1px solid green;
         #main2_t{
             height: 150px;
             width: 1180px;
             p:nth-child(1){
                 height:46px;
                 line-height: 46px;
                 margin-top:20px;
                 font-size: 24px;
                 text-align: center;
                 
             }
             p:nth-child(2){
                 height: 88px;
                 line-height: 56px;
                 font-size: 30px;
                 text-align: center;
                 font-weight: 900;
                 
             }
         }
         #main2_lb{
             height:600px;
             width: 1180px;
             display: flex;
             justify-content: space-between;
             #main2_lb_left{
                 width:581px;
                 height: 600px;
                 background: red;
            #main2_lb_left_img{
                height:405px;
                width: 580px;
                border: 1px solid #fff;
            }    
                
                
                
                 
             }
             #main2_lb_right{
                 width:581px;
                 height: 600px;
                 background: green;
                 
             }
                    
                
             
         }
         
         
     }
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
